/* paleta de colores  */
:root {
    /* Rojo */
    --red: #e30613;
    
    /* Azul */
    --blue: #164094b9;

    /* Azul */
    --blueslow: #EDF2F4;
}


/* Estilos globales */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--blueslow);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

h2 {
    color: #2B2D42;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para la fila 1: Gestión de Empleados y Generación de Cronogramas */
.fila-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre filas */
}

.gestion-empleados, .gestion-cronogramas {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1; /* Para que ocupen el mismo espacio */
    margin: 0 10px; /* Espacio entre columnas */
}

.empleado-form, .cronograma-form {
    display: flex;
    gap: 10px;
}

select, input[type="date"], button {
    width: 96%; /* Ocupa el 100% del ancho del contenedor */
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Para que el padding no agregue más ancho del esperado */
}

button {
    background-color: var(--red);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--red);
}

/* Estilos para la fila 2: Cronogramas Generados */
.fila-2 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.lista-empleados, .lista-cronogramas {
    height: 200px;
    margin-top: 20px;
    overflow-y: auto;
}

.lista-empleados div, .lista-cronogramas div, .lista-cronogramas-generados div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fs {
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fst {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.generarCrono {
    width: 97%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: var(--blueslow);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #D90429;
}